---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}

      {% unless title_shown %}
        <h3>{{ category[1].title }}</h3><hr />
        {% assign title_shown = true %}
      {% endunless %}

      <div class="archive__item">
        <h3 class="archive__item-title">{{ post.title }}</h3>

        {% if post.venue %}
          <p><strong>{{ post.venue }}</strong></p>
        {% endif %}

        {% if post.date %}
          <p>{{ post.date | date: "%Y" }}</p>
        {% endif %}

        {% if post.excerpt %}
          <p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}</p>
        {% endif %}

        <p>
          {% if post.paperurl %}
            <a href="{{ post.paperurl }}" class="btn btn--primary">PDF</a>
          {% endif %}

          {% if post.slidesurl %}
            <a href="{{ post.slidesurl }}" class="btn btn--inverse">Slides</a>
          {% endif %}

          {% if post.codeurl %}
            <a href="{{ post.codeurl }}" class="btn btn--inverse">Code</a>
          {% endif %}
        </p>
      </div>

      <hr />
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    <div class="archive__item">
      <h3 class="archive__item-title">{{ post.title }}</h3>

      {% if post.venue %}
        <p><strong>{{ post.venue }}</strong></p>
      {% endif %}

      {% if post.date %}
        <p>{{ post.date | date: "%Y" }}</p>
      {% endif %}

      {% if post.excerpt %}
        <p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}</p>
      {% endif %}

      <p>
        {% if post.paperurl %}
          <a href="{{ post.paperurl }}" class="btn btn--primary">PDF</a>
        {% endif %}

        {% if post.slidesurl %}
          <a href="{{ post.slidesurl }}" class="btn btn--inverse">Slides</a>
        {% endif %}

        {% if post.codeurl %}
          <a href="{{ post.codeurl }}" class="btn btn--inverse">Code</a>
        {% endif %}
      </p>
    </div>

    <hr />
  {% endfor %}
{% endif %}